# Ignore system and IDE files
.VirtualBox/
.anaconda/
.angular-config.json
.bash_history
.bsp/
.cache/
.conda/
.condarc
.config/
.continuum/
.cupy/
.eclipse/
.idea/
.ipython/
.ivy2/
.jdks/
.jupyter/
.lemminx/
.lesshst
.m2/
.matplotlib/
.nbi/
.openjfx/
.p2/
.pdfbox.cache
.redhat/
.sbt/
.scala_history_jline3
.ssh/
.vscode/
3D Objects/
AppData/
Contacts/
Creative Cloud Files Personal Account es-mennatalah777@alexu.edu.eg 918F1E4C64C7E5F30A495EDD@AdobeID/
Desktop/
Documents/
Downloads/
Favorites/
Intel/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT
NTUSER.DAT*
ntuser.dat.LOG*
ntuser.ini
OneDrive/
Pictures/
Saved Games/
Searches/
UrbanVPN/
Videos/
VirtualBox VMs/
anaconda3/
cd
frontend/
gs-rest-service/
lab4.log
my-app/
package-lock.json
package.json
plink_output/
project/
target/
ts-hello/ 
