/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}
.container{
    max-width: 1446px !important;
}
/* Navbar Styles */
.navbar {
  background-color: #174750; /* Dark background for navbar */
}

.navbar-brand {
  color: #ffa500; /* Orange color for brand name */
  font-weight: bold;
}

.nav-link {
  color: white !important; /* White text for navbar links */
}

/* Custom Styles */
.bg-dark {
  background-color: #040a15 !important;
}

.btn-primary {
  background-color: #fb921d;
  border-color: #fb921d;
}

.btn-primary:hover {
  background-color: #e07c1a;
  border-color: #e07c1a;
}

.btn-warning {
  background-color: #71a7b8;
  border-color: #71a7b8;
}

.btn-warning:hover {
  background-color: #5c8a9a;
  border-color: #5c8a9a;
}

.btn-danger {
  background-color: #174750;
  border-color: #174750;
}

.btn-danger:hover {
  background-color: #123640;
  border-color: #123640;
}


/* Footer Styles */
footer {
  background-color: #71a7b8; /* Light blue background */
  color: white;
}

.social-icons a {
  color: white;
  margin-right: 15px;
}

.social-icons a:hover {
  opacity: 0.8;
}

footer h5 {
  margin-bottom: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer hr {
  border-color: white;
}

footer p {
  margin: 0;
  text-align: center;
}
