<div class="container text-center mb-0 pb-0">
    <div class="row g-4">
        <!-- Company Section -->
        <div class="col-md-4">
            <div class="section">
                <img src="/assets/img/company.jpg" alt="Company" class="img-fluid">
                <div class="overlay"></div>
                <div class="text">Company</div>
                <button class="btn btn-custom" routerLink="/companysignup"><i class="fa fa-user-plus"></i> Sign Up</button>
            </div>
        </div>

        <!-- Tourist Section -->
        <div class="col-md-4">
            <div class="section">
                <img src="/assets/img/tourist.jpg" alt="Tourist" class="img-fluid">
                <div class="overlay"></div>
                <div class="text">Tourist</div>
                <button class="btn btn-custom" routerLink="/touristsignup"><i class="fa fa-user-plus"></i> Sign Up</button>
            </div>
        </div>

        <!-- Tour Guide Section -->
        <div class="col-md-4">
            <div class="section">
                <img src="/assets/img/tourguide.jpg" alt="Tour Guide" class="img-fluid">
                <div class="overlay"></div>
                <div class="text">Tour Guide</div>
                <button class="btn btn-custom" routerLink="/tourguidesignup"><i class="fa fa-user-plus"></i> Sign Up</button>
            </div>
        </div>
    </div>
</div>